# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Editores e sistema operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Arquivos temporários
*.tmp
*.bak
*.swp
~$*

# Builds de firmware
.pio/
build/
